<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"></meta>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  ></meta>

  <link
    rel="stylesheet"
    th:href=@{/bootstrap.css}"></link>

  <link
    rel="shortcut icon"
    type="image/x-icon"
    th:href="@{images\d20.png}"
  ></link>

  <link
    rel="stylesheet"
    th:href="@{/carousel.css}"
  ></link>

  <title>New Guest</title>

  <style>
    .left-grid {
      grid-area: left-grid;
    }
  
    .middle-grid {
      grid-area: middle-grid;
              text-align: center;

    }
  
    .righ-grid {
      grid-area: right-grid;
    }
  
    .grid-container {
      display: grid;
      grid-template-areas: 'left-grid middle-grid right-grid';
    }
    </style>
</head>

<body>
  <header>
    <nav
      id="headerColor"
      class="navbar navbar-expand-md navbar-dark fixed-top"
    >
      <a
        class="navbar-brand"
        href="#"
      >
        <img
          style="width:40px; height: 40px;"
          th:src="@{/images/smallLogo.png}"
          alt="logo"
        >

        HOST WITH THE MOST
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarCollapse"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a
              class="nav-link"
              href="#"
            >
              Home

              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >Profile</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >About</a>
          </li>
        </ul>

        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Logout</button>
      </div>
    </nav>
  </header>

  <br>
  <br>
  <br>

  <div>
    <h1 class="effect">Find the event for you!</h1>
  </div>

  <main class="grid-container">
    <div class="left-grid"></div>

    <div class="middle-grid">

      <div th:each="event : ${allEvents}">
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h4 class="featurette-heading">
                <a th:href="'/event/' + ${event.id}" th:text="${event.eventType}">DINNER</a>
  
                <br>
  
                <span class="text-muted" th:text="${event.date}">Friday 2/10</span>
  
                <p>
                  Hosted by:
  
                  <span th:text="${event.host}">Miriam</span>
                </p>
              </h4>
  
              <p class="lead" th:text="${event.location}"> Kista, Stockholm</p>
  
              <p th:text="${event.price}">$15</p>
            </div>
  
            <div class="col-md-5">
                <img
                  th:src="'/images/' + ${event.url} + '.jpg'"
                  width="200px"0
                  height="200px"
                  alt="image"
                  background="#eee"
                  color="#aaa"
                  class="bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                >
  
            </div>
            <hr class="featurette-divider">
          </div>

      

      <footer class="container">
              <hr class="featurette-divider">

        <p class="float-right">
          <a href="#">Back to top</a>
        </p>

        <p>
          &copy; 2019-2020 Company, Inc. &middot;

          <a href="#">Privacy</a>

          &middot;

          <a href="#">Terms</a>
        </p>
      </footer>
    </div>

    <div class="right-grid"></div>
  </main>
</body>
</html>