<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap.css}">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{images/logoPink.png}">
  <title>New Host</title>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link rel="stylesheet" href="..\static\carousel.css">
</head>

<body>
      <header>
        <nav id="headerColor" class="navbar navbar-expand-md navbar-dark fixed-top">
          <a class="navbar-brand" href="#"><img style="width:40px; height: 40px;" th:src="@{/images/smallLogo.png}"
              alt="logo">HOST WITH THE MOST</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </div>
        </nav>
      </header>
      
  <div class="container newHost">
    <div class="sideLeft"></div>
    <div class="content">
      <h1>Host new event</h1>
      <div>
          <form form class="forms" th:action="@{/newHost}" method="post" th:object="${event}">
            <p>Event type</p>
           <select th:field="*{eventType}">
               <option value="Dinner">Dinner</option>
               <option value="Book Club">Book club</option>
               <option value="Hike">Hike</option>
           </select>
            <br>
            <p>Location</p>
            <input type="text" placeholder="Address" th:field="*{location}"><br>
            <br>
            <p>Time</p>
            <input type="time"  th:field="*{time}"><br>
            <br>
            <p>Date</p>
            <input type="date" th:field="*{date}"><br>
            <br>
            <p>Number of Guests</p>
            <input type="text" th:field="*{numOfGuests}"><br>
            <br>
            <p>Menu</p>
            <input type="text"  th:field="*{menu}"><br>
            <br>
            <p>Price</p>
            <input type="text" th:field="*{price}"><br>><br>
            <br>
            <p>What to bring</p>
            <input type="text" th:field="*{whatToBring}"><br>
            <br>
            <br>
            <p>Host:</p>
            <input type="text" th:field="*{host}"><br>
            <br>
            <p>Event ID:</p>
            <input type="text" th:field="*{id}"><br>
            <br>
        
           <input type="submit" value="Create event">
            <a href="/newGuest">Go to events</a>
            <br>
            <br>
        </form>
      </div>
    </div>
    <div class="sideRight"></div>
  </div>
  
  <!-- FOOTER -->
  <footer class="footer">
      <hr class="featurette-divider">
      <a href="#">About</a>
      <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
  
</body>

</html>